
<div class="search-bar">
  <mat-form-field appearance="fill">
    <mat-label>Kulcsszó</mat-label>
    <input matInput [(ngModel)]="searchKeyword" (keyup.enter)="getActorsByParam()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKeyword" (click)="searchKeyword = ''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="container">
  <div class="row">
    <ng-container *ngFor="let actor of actors">
      <div class="col-md-3">
        <div class="card mb-3" (click)="viewActorDetails(actor.id)">
          <img [src]="getPosterUrl(actor.profile_path)" alt="Actor kép">
          <div class="image-title">{{ actor.name }}</div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<mat-paginator [length]="totalvalue" [pageSize]="pageSize" (page)="paginatorChanged($event)"></mat-paginator>
