.image-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }

  .search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .card {
    cursor: pointer;
  }
  
  .image-title {
    margin-top: 10px;
    font-weight: bold;
  }